
html {
    width: 100vw;/*100 veiwport width points*/
    height: 100vh;/*100 viewport height points*/
}

body {
  margin: 0;
  padding: 0;
  height: 100%;/*100% of parent(html) element*/
  width: 100%;/*100% of parent(html) element*/

	display: grid;
	grid-template: min-content auto min-content / auto;

  overflow: hidden;
}

body > * {
	width: 100%;
}

header {
	grid-area: 1 / 1 / span 1 / span 1;

  height: min-content;
}

.content {
	grid-area: 2 / 1 / span 1 / span 1;

  overflow: hidden scroll;
}

footer {
	grid-area: 3 / 1 / span 1 / span 1;
  background-color: beige;

	display: flex;
	align-content: center;
	justify-content: center;
}

nav {
    background-color: beige;

    display: flex;
}
nav > * {
    display: flex;
    flex-grow: 1;
}
